version: 0.57.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - name: users
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /account/users
        type: HttpRequester
        url_base: https://public-fr6.engage.diabolocom.com/api/v1
        http_method: GET
        authenticator:
          name: users
          path: /account/users
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            name: users
            path: /account/users
            type: RequestOption
            field_name: Private-Token
            inject_into: header
            primary_key: id
            $parameters:
              name: users
              path: /account/users
              primary_key: id
          primary_key: id
          $parameters:
            name: users
            path: /account/users
            primary_key: id
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          name:
            type: string
          role:
            type: string
          email:
            type: string
          folder:
            type:
              - 'null'
              - string
          locale:
            type: string
          number:
            type:
              - 'null'
              - string
          lastName:
            type: string
          timezone:
            type: string
          createdAt:
            type: string
          createdBy:
            type: string
          firstName:
            type: string
          maxEmails:
            type: number
          profileId:
            type: number
          isDisabled:
            type: boolean
          lastLoginAt:
            type:
              - 'null'
              - string
          statusSetId:
            type: number
          maxTransfers:
            type: number
          lastUpdatedAt:
            type: string
          lastUpdatedBy:
            type: string
          skillChannels:
            type: array
            items:
              type: object
              properties:
                skills:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      level:
                        type: number
                      disabled:
                        type: boolean
                channel:
                  type: string
          wrapupTimeout:
            type: number
          isLimitWrapupTime:
            type: boolean
          tabsManagementMode:
            type:
              - 'null'
              - string
          missedCallsThreshold:
            type: number
          buttonForTabActivation:
            type: boolean
          isAllowProlongateWrapup:
            type: boolean
          wrapupAdditionalTimeout:
            type: number
metadata:
  autoImportSchema:
    users: true
