version: 0.77.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tickets

definitions:
  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_zendesk_support_custom/schemas/{{ parameters.get('schema_name') or parameters['name'] }}.json"

  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  basic_authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['credentials']['email'] + '/token' }}"
    password: "{{ config['credentials']['api_token'] }}"

  base_requester:
    type: HttpRequester
    url_base: https://sendinblue.zendesk.com/api/v2/
    http_method: GET
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path: ["credentials", "credentials"]
      authenticators:
        oauth2.0: "#/definitions/bearer_authenticator"
        api_token: "#/definitions/basic_authenticator"

  record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        [
          "{{ parameters.get('data_path') or parameters.get('name') or parameters.get('field_extractor')}}",
        ]

  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%s"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: start_time
      inject_into: request_parameter

  satisfaction_ratings_stream:
    type: DeclarativeStream
    $parameters:
      name: "satisfaction_ratings"
      path: "satisfaction_ratings.json"
      primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
      record_selector:
        $ref: "#/definitions/record_selector"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[after]
        page_size_option:
          type: RequestOption
          field_name: page[size]
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response['meta']['after_cursor'] }}"
          stop_condition: "{{ response['meta']['has_more'] == false }}"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
    schema_loader:
      $ref: "#/definitions/schema_loader"

  tickets_stream:
    type: DeclarativeStream
    $parameters:
      name: "tickets"
      path: "incremental/tickets/cursor.json"
      primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
      record_selector:
        $ref: "#/definitions/record_selector"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response['after_cursor'] }}"
          stop_condition: "{{ response['end_of_stream'] == true }}"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
    schema_loader:
      $ref: "#/definitions/schema_loader"

  ticket_metrics_stream:
    type: DeclarativeStream
    $parameters:
      name: "ticket_metrics"
      path: "tickets/{{ stream_partition.ticket_id }}/metrics"
      primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  error_message_contains: RecordNotFound
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                  regex: ""
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - ticket_metric
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: ticket_id
              stream:
                $ref: "#/definitions/tickets_stream"
    schema_loader:
      $ref: "#/definitions/schema_loader"

streams:
  - $ref: "#/definitions/tickets_stream"
  - $ref: "#/definitions/ticket_metrics_stream"
  - $ref: "#/definitions/satisfaction_ratings_stream"
