version: 6.33.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - plan

definitions:
  streams:
    plan:
      type: DeclarativeStream
      name: plan
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organization/{{ config['organization_id'] }}/plan
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plan"
      transformations:
        - type: AddFields
          fields:
            - path:
                - organization_id
              value: "{{ config['organization_id'] }}"
  base_requester:
    type: HttpRequester
    url_base: https://plan-manager-production.51b.tech/

streams:
  - $ref: "#/definitions/streams/plan"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - organization_id
    properties:
      organization_id:
        type: string
        order: 0
        title: organization ID
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    plan:
      hasRecords: true
      streamHash: 3bf58a5bd95339af1168e63e47347d49cdf05369
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    plan: true

schemas:
  plan:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      crm:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          end_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          plan_id:
            type:
              - string
              - "null"
          start_at:
            type:
              - string
              - "null"
          master_id:
            type:
              - string
              - "null"
          plan_amount:
            type:
              - string
              - "null"
          plan_period:
            type:
              - string
              - "null"
          plan_vertical:
            type:
              - string
              - "null"
          addon_features:
            type:
              - object
              - "null"
            properties:
              crm_deal:
                type:
                  - object
                  - "null"
                properties:
                  used:
                    type:
                      - string
                      - "null"
                  enabled:
                    type:
                      - string
                      - "null"
                  max_limit:
                    type:
                      - string
                      - "null"
              crm_pipeline:
                type:
                  - object
                  - "null"
                properties:
                  used:
                    type:
                      - string
                      - "null"
                  enabled:
                    type:
                      - string
                      - "null"
                  max_limit:
                    type:
                      - string
                      - "null"
          next_renewal_at:
            type:
              - string
              - "null"
          plan_cf_category:
            type:
              - string
              - "null"
          plan_period_unit:
            type:
              - string
              - "null"
      chat:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          end_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          plan_id:
            type:
              - string
              - "null"
          start_at:
            type:
              - string
              - "null"
          master_id:
            type:
              - string
              - "null"
          plan_amount:
            type:
              - string
              - "null"
          plan_period:
            type:
              - string
              - "null"
          plan_vertical:
            type:
              - string
              - "null"
          next_renewal_at:
            type:
              - string
              - "null"
          plan_cf_category:
            type:
              - string
              - "null"
          plan_period_unit:
            type:
              - string
              - "null"
      email:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          end_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          plan_id:
            type:
              - string
              - "null"
          start_at:
            type:
              - string
              - "null"
          master_id:
            type:
              - string
              - "null"
          plan_amount:
            type:
              - string
              - "null"
          plan_period:
            type:
              - string
              - "null"
          plan_vertical:
            type:
              - string
              - "null"
          addon_features:
            type:
              - object
              - "null"
            properties:
              sms:
                type:
                  - object
                  - "null"
                properties:
                  used:
                    type:
                      - string
                      - "null"
                  end_at:
                    type:
                      - string
                      - "null"
                  enabled:
                    type:
                      - string
                      - "null"
                  max_limit:
                    type:
                      - string
                      - "null"
              users:
                type:
                  - object
                  - "null"
                properties:
                  used:
                    type:
                      - string
                      - "null"
                  enabled:
                    type:
                      - string
                      - "null"
                  max_limit:
                    type:
                      - string
                      - "null"
              email_credits:
                type:
                  - object
                  - "null"
                properties:
                  used:
                    type:
                      - string
                      - "null"
                  enabled:
                    type:
                      - string
                      - "null"
                  max_limit:
                    type:
                      - string
                      - "null"
          next_renewal_at:
            type:
              - string
              - "null"
          plan_cf_category:
            type:
              - string
              - "null"
          plan_period_unit:
            type:
              - string
              - "null"
      phone:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          end_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          plan_id:
            type:
              - string
              - "null"
          start_at:
            type:
              - string
              - "null"
          master_id:
            type:
              - string
              - "null"
          plan_amount:
            type:
              - string
              - "null"
          plan_period:
            type:
              - string
              - "null"
          plan_vertical:
            type:
              - string
              - "null"
          next_renewal_at:
            type:
              - string
              - "null"
          plan_cf_category:
            type:
              - string
              - "null"
          plan_period_unit:
            type:
              - string
              - "null"
      organization_id:
        type:
          - number
          - "null"
    additionalProperties: true
