version: 0.77.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tickets

definitions:
  streams:
    tickets:
      type: DeclarativeStream
      name: tickets
      rimary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incremental/tickets/cursor
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tickets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['after_cursor'] }}"
            stop_condition: "{{ response['end_of_stream'] == true }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
      schema_loader:
        type: JsonFileSchemaLoader
        file_path: "./source_zendesk_kim/schemas/tickets.json"

    ticket_metrics:
      type: DeclarativeStream
      name: ticket_metrics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tickets/{{ stream_partition.ticket_id }}/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    error_message_contains: RecordNotFound
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: ticket_id
                stream:
                  $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: JsonFileSchemaLoader
        file_path: "./source_zendesk_kim/schemas/ticket_metrics.json"

  base_requester:
    type: HttpRequester
    url_base: https://sendinblue.zendesk.com/api/v2/
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['username'] }}"
      password: "{{ config['password'] }}"

streams:
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/ticket_metrics"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
    properties:
      username:
        type: string
        title: Username
        order: 0
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 1
    additionalProperties: true
